@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-shade9: hsl(355, 100%, 5%);
  --primary-shade8: hsl(355, 100%, 10%);
  --primary-shade7: hsl(355, 100%, 15%);
  --primary-shade6: hsl(355, 100%, 20%);
  --primary-shade5: hsl(355, 100%, 25%);
  --primary-shade4: hsl(355, 100%, 30%);
  --primary-shade3: hsl(355, 100%, 35%);
  --primary-shade2: hsl(355, 100%, 40%);
  --primary-shade1: hsl(355, 100%, 45%);
  --primary: hsl(355, 100%, 50%);
  --primary-tint1: hsl(355, 100%, 55%);
  --primary-tint2: hsl(355, 100%, 60%);
  --primary-tint3: hsl(355, 100%, 65%);
  --primary-tint4: hsl(355, 100%, 70%);
  --primary-tint5: hsl(355, 100%, 75%);
  --primary-tint6: hsl(355, 100%, 80%);
  --primary-tint7: hsl(355, 100%, 85%);
  --primary-tint8: hsl(355, 100%, 90%);
  --primary-tint9: hsl(353, 100%, 95%);

  --secondary-shade9: hsl(0, 0%, 5%);
  --secondary-shade8: hsl(0, 0%, 10%);
  --secondary-shade7: hsl(0, 0%, 15%);
  --secondary-shade6: hsl(0, 0%, 20%);
  --secondary-shade5: hsl(0, 0%, 25%);
  --secondary-shade4: hsl(0, 0%, 30%);
  --secondary-shade3: hsl(0, 0%, 35%);
  --secondary-shade2: hsl(0, 0%, 40%);
  --secondary-shade1: hsl(0, 0%, 45%);
  --secondary: hsl(0, 0%, 50%);
  --secondary-tint1: hsl(0, 0%, 55%);
  --secondary-tint2: hsl(0, 0%, 60%);
  --secondary-tint3: hsl(0, 0%, 65%);
  --secondary-tint4: hsl(0, 0%, 70%);
  --secondary-tint5: hsl(0, 0%, 75%);
  --secondary-tint6: hsl(0, 0%, 80%);
  --secondary-tint7: hsl(0, 0%, 85%);
  --secondary-tint8: hsl(0, 0%, 90%);
  --secondary-tint9: hsl(0, 0%, 95%);

  --tertiary-shade4: hsl(120, 100%, 5%);
  --tertiary-shade4: hsl(120, 100%, 10%);
  --tertiary-shade4: hsl(120, 100%, 15%);
  --tertiary-shade3: hsl(120, 100%, 20%);
  --tertiary-shade3: hsl(120, 100%, 25%);
  --tertiary-shade2: hsl(120, 100%, 30%);
  --tertiary-shade2: hsl(120, 100%, 35%);
  --tertiary-shade1: hsl(120, 100%, 40%);
  --tertiary-shade1: hsl(120, 100%, 45%);
  --tertiary: hsl(120, 100%, 50%);
  --tertiary-tint1: hsl(120, 100%, 55%);
  --tertiary-tint1: hsl(120, 100%, 60%);
  --tertiary-tint1: hsl(120, 100%, 65%);
  --tertiary-tint2: hsl(120, 100%, 70%);
  --tertiary-tint2: hsl(120, 100%, 75%);
  --tertiary-tint3: hsl(120, 100%, 80%);
  --tertiary-tint3: hsl(120, 100%, 85%);
  --tertiary-tint4: hsl(120, 100%, 90%);
  --tertiary-tint5: hsl(120, 100%, 95%);

  --quaternary-shade4: hsl(60, 100%, 5%);
  --quaternary-shade4: hsl(60, 100%, 10%);
  --quaternary-shade4: hsl(60, 100%, 15%);
  --quaternary-shade3: hsl(60, 100%, 20%);
  --quaternary-shade3: hsl(60, 100%, 25%);
  --quaternary-shade2: hsl(60, 100%, 30%);
  --quaternary-shade2: hsl(60, 100%, 35%);
  --quaternary-shade1: hsl(60, 100%, 40%);
  --quaternary-shade1: hsl(60, 100%, 45%);
  --quaternary: hsl(60, 100%, 50%);
  --quaternary-tint1: hsl(60, 100%, 55%);
  --quaternary-tint1: hsl(60, 100%, 60%);
  --quaternary-tint1: hsl(60, 100%, 65%);
  --quaternary-tint2: hsl(60, 100%, 70%);
  --quaternary-tint2: hsl(60, 100%, 75%);
  --quaternary-tint3: hsl(60, 100%, 80%);
  --quaternary-tint3: hsl(60, 100%, 85%);
  --quaternary-tint4: hsl(60, 100%, 90%);
  --quaternary-tint5: hsl(60, 100%, 95%);

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --transparent: hsla(0, 0%, 100%, 0);
  --transparent-50: hsla(0, 0%, 100%, 0.50);
  --transparent-25: hsla(0, 0%, 100%, 0.25);
}
